
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">用户注册</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="row">
            <div class="col-lg-12 bd">
                <div class="weui_cells_title">请输入基本信息</div>
                <div class="weui_cells weui_cells_form">
                    <div class="weui_cell">
                        <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
                        <div class="weui_cell_bd weui_cell_primary">
                            <input class="weui_input" type="tel" placeholder="请输入姓名"/>
                        </div>
                    </div>
                    <div class="weui_cells_title">性别</div>
                    <div class="weui_cells weui_cells_radio">
                        <label class="weui_cell weui_check_label" for="x11">
                            <div class="weui_cell_bd weui_cell_primary">
                                <p>男</p>
                            </div>
                            <div class="weui_cell_ft">
                                <input type="radio" class="weui_check" name="radio1" id="x11" >
                                <span class="weui_icon_checked"></span>
                            </div>
                        </label>
                        <label class="weui_cell weui_check_label" for="x12">

                            <div class="weui_cell_bd weui_cell_primary">
                                <p>女</p>
                            </div>
                            <div class="weui_cell_ft">
                                <input type="radio" name="radio1" class="weui_check" id="x12" checked="checked">
                                <span class="weui_icon_checked"></span>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="weui_btn_area">
                    <a class="weui_btn weui_btn_primary" ng-click="test()" id="showTooltips">确定</a>
                    <a class="weui_btn weui_btn_plain_default" href="javascript:" id="showTooltips">取消</a>
                </div>
            </div>
        </div>
    
    </div>
</div>