
 <div class="row">
 <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
    	<div class=" page-header">
        	<h1>
        		活动详情
        	</h1>
     	</div>
     </div>
</div>
        

<form class="form-horizontal showcase-form col-xs-offset-1 col-xs-10" role="form" id="basic_form" name="basic_form" novalidate="">
  <div class="form-group">
    <label class="control-label">标题</label>

    <div class="">
      <input type="text" name="item_title" ng-model="vm.item.title" required="" class="form-control"
            ng-maxlength="200" placeholder="标题" >
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">内容</label>

    <div >
      <textarea name="item_content" ng-model="vm.item.content"
             ng-maxlength="1000" class="form-control"
             placeholder="请输入内容" rows=10></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">微信图文链接</label>

    <div >
      <textarea name="item_wxurl" ng-model="vm.item.wxurl"
             ng-maxlength="1000" class="form-control"
             placeholder="请输入活动对应的微信图文链接" rows=5></textarea>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">费用</label>

    <div class="">
      <input type="number" name="item_applyfee" ng-model="vm.item.applyfee" required="" class="form-control"
            min="0.01" max="10000" placeholder="活动费用0.01-10000">
    </div>
  </div>

  <div class="form-group">
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell weui_cell_switch">
            <div class="weui_cell_hd weui_cell_primary">设置为当前活动</div>
            <div class="weui_cell_ft">
                <input class="weui_switch" type="checkbox" ng-model="vm.item.iscurr"                 ng-true-value="1" ng-false-value="0" ng-checked="vm.item.iscurr"/>
            </div>
        </div>
    </div>
	</div>

  <div class="form-group" ng-show="basic_form.$invalid && (basic_form.$dirty || vm.show_type == 3) && vm.show_error">
    <label class="control-label"></label>

    <div class="">
      <div class="alert alert-danger">
        <ul>
          <li ng-show="(basic_form.item_title.$dirty || vm.show_type == 3) && basic_form.item_title.$error.required">标题不能为空！</li>
          <li ng-show="(basic_form.item_title.$dirty || vm.show_type == 3) && basic_form.item_title.$error.maxlength">标题长度不能大于200个字符！</li>
          <li ng-show="(basic_form.item_content.$dirty || vm.show_type == 3) && basic_form.item_content.$error.maxlength">内容长度不能大于1000个字符！</li>
          <li ng-show="(basic_form.item_wxurl.$dirty || vm.show_type == 3) && basic_form.item_wxurl.$error.maxlength">微信图文链接长度不能大于1000个字符！</li>
          <li ng-show="(basic_form.item_applyfee.$dirty || vm.show_type == 3) && basic_form.item_applyfee.$error.required">费用不能为空！</li>
          <li ng-show="(basic_form.item_applyfee.$dirty || vm.show_type == 3) && basic_form.item_applyfee.$error.min">费用最少0.01元！</li>
          <li ng-show="(basic_form.item_applyfee.$dirty || vm.show_type == 3) && basic_form.item_applyfee.$error.max">费用最高10000元！</li>
        </ul>
      </div>
    </div>
  </div>

  
    <div class="form-group">
      	<button type="submit" ng-click="update(basic_form)" class="btn btn-success btn-block"
              ng-disabled="basic_form.$invalid && vm.show_type != 3"> 提 交
      	</button>
      	<button ng-click="cancel()" class="btn btn-default btn-block">取 消</button>
    </div>
 

</form>

<!-- <hr/>
<label>显示方式：
    <select ng-model="vm.show_type" class="form-control" ng-change="vm.change_show_type(basic_form)">
        <option value="1">只有输入框样式变化</option>
        <option value="2">显示错误提示</option>
        <option value="3">点击提交才显示错误提示</option>
    </select>
</label> -->

  </div>