<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<link rel="stylesheet" href="styles/exam.css">
<style type="text/css">
	.red {
		color:red;
	}
</style>
<div class="container" ng-cloak>
	<div ng-show="vm.begin" id="begindiv">
		<div id="module-container" class="exam">
		    <div class="exam-header">
		        
	            <h4>
	                <i class="simpleicon-check-circle"></i>
	                健身知识问答
	            </h4>
	            <span class="arrow"></span>
		    </div>

		    <div style="margin-top:250px">
		    	
			    <ul class="list-group">
				   <li class="list-group-item">每次测验将从题库中随机抽取{{vm.size}}道题</li>
				   <li class="list-group-item">每道题的答题时间为30秒</li>
				   <li class="list-group-item">选择答案后，点击【下一题】继续</li>
				</ul>
				<div>完成度{{vm.user.examprogress?vm.user.examprogress:0}}%</div>
				<div class="progress">
				   <div class="progress-bar progress-bar-info" role="progressbar" 
				      aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 	
				      ng-style="{width: vm.user.examprogress + '%'}">
				   </div>
				</div>
			</div>
			<!-- <div class="weui_cells_title">选择题库类型</div>
			<div class="weui_cells weui_cells_radio">
			    <label class="weui_cell weui_check_label" for="x1">
			        <div class="weui_cell_bd weui_cell_primary col-xs-11">
			            <p>运动解剖</p>
			        </div>
			        <div class="weui_cell_ft">
			            <input type="radio" class="weui_check" name="radio1" id="x1" ng-model="vm.itype" value="1" checked="checked">
			            <span class="weui_icon_checked"></span>
			        </div>
			    </label>
			    <label class="weui_cell weui_check_label" for="x2">

			        <div class="weui_cell_bd weui_cell_primary col-xs-11">
			            <p>训练百科</p>
			        </div>
			        <div class="weui_cell_ft">
			            <input type="radio" name="radio1" class="weui_check" id="x2" ng-model="vm.itype" value="2">
			            <span class="weui_icon_checked"></span>
			        </div>
			    </label>
			    <label class="weui_cell weui_check_label" for="x3">

			        <div class="weui_cell_bd weui_cell_primary col-xs-11">
			            <p>饮食营养</p>
			        </div>
			        <div class="weui_cell_ft">
			            <input type="radio" name="radio1" class="weui_check" id="x3" ng-model="vm.itype" value="3">
			            <span class="weui_icon_checked"></span>
			        </div>
			    </label>
			</div> -->
			<div class="weui_cells"ng-show="vm.begin">
				<button ng-click="startTimer()" class="weui_btn weui_btn_plain_default" >开始</button>
			</div>
		</div>
	</div>

	<div ng-show="vm.exam">
		<timer countdown="30" interval="1000" id="countdown" autostart>
			<div class="progress progress-striped active {{displayProgressActive}}"style="height: 40px;"> 
				<div>剩余时间 : {{countdown}} 秒 </div>
				<div class="progress-bar" style="min-width: 0em;width: {{97-progressBar}}%;"></div> 
			</div>
		</timer>

		<div class="weui_cells_title" style="font-size:20px">第{{vm.index+1}}题 {{vm.question.title}}</div>
		<div class="weui_cells weui_cells_radio">
		    <label class="weui_cell weui_check_label" for="x11" ng-class="{'A':'red'}[vm.displayanswer]">
		        <div class="weui_cell_bd weui_cell_primary col-xs-11">
		            <p>A、 {{vm.question.choicea}}</p>
		        </div>
		        <div class="weui_cell_ft">
		            <input type="radio" class="weui_check" name="radio1" id="x11" ng-model="vm.question.choice" value="A">
		            <span class="weui_icon_checked"></span>
		        </div>
		    </label>
		    <label class="weui_cell weui_check_label" for="x12" ng-class="{'B':'red'}[vm.displayanswer]">

		        <div class="weui_cell_bd weui_cell_primary col-xs-11">
		            <p>B、 {{vm.question.choiceb}}</p>
		        </div>
		        <div class="weui_cell_ft">
		            <input type="radio" name="radio1" class="weui_check" id="x12" ng-model="vm.question.choice" value="B">
		            <span class="weui_icon_checked"></span>
		        </div>
		    </label>
		    <label class="weui_cell weui_check_label" for="x13" ng-class="{'C':'red'}[vm.displayanswer]">

		        <div class="weui_cell_bd weui_cell_primary col-xs-11">
		            <p>C、 {{vm.question.choicec}}</p>
		        </div>
		        <div class="weui_cell_ft">
		            <input type="radio" name="radio1" class="weui_check" id="x13" ng-model="vm.question.choice" value="C">
		            <span class="weui_icon_checked"></span>
		        </div>
		    </label>
		    <label class="weui_cell weui_check_label" for="x14" ng-class="{'D':'red'}[vm.displayanswer]">

		        <div class="weui_cell_bd weui_cell_primary col-xs-11">
		            <p>D、 {{vm.question.choiced}}</p>
		        </div>
		        <div class="weui_cell_ft">
		            <input type="radio" name="radio1" class="weui_check" id="x14" ng-model="vm.question.choice" value="D">
		            <span class="weui_icon_checked"></span>
		        </div>
		    </label>
		</div>
		<div class="weui_cells" ng-show="!vm.begin">
			<button ng-click="resumeTimer()" class="weui_btn weui_btn_plain_default" >下一题</button>
		</div>
		
	</div>

	
</div>

<div ng-show="vm.end">
	<div id="module-container" class="exam">
	    <div class="exam-header">
	        
            <h4>
                <i class="simpleicon-check-circle"></i>
                答题已结束，感谢您的参加
            </h4>
            <span class="arrow"></span>
	    </div>
	    <div class="exam-body">
	        <div class="max-w">
	                <span class="paper-name"></span>
	                <div class="row">
	                	<img ng-src="{{vm.user.headimgurl}}" class="img-circle col-xs-6 col-xs-offset-3">
	            	</div>
	            	<div class="row">
	                	<p class="text-muted">{{vm.user.nickname}}</p>
	                </div>
	                <div class="row">
	                <p class="score text-bittersweet mb10">
	                    {{vm.score}}
	                    <span>（100分）</span>
	                </p>
	                </div>
	                <div class="row">
	                	<button class="weui_btn weui_btn_plain_default">点击右上角分享到朋友圈<br>&nbsp;&nbsp;快邀请小伙伴一起来吧！</button>
	            	</div>
	                <div class="col-sm-12 col-lg-12" style="margin-top:20px">
	                	<button ng-click="tomain()" class="weui_btn weui_btn_plain_default">返回主页</button>
	                </div>
            </div>
	    </div>
	</div>
</div>
